spring:
  application:
    name: taskManageSys-giveTask
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  mail:
    host: smtp.qq.com #邮件服务器地址
    port: 465 #端口号
    username: 2368791800@qq.com
    password: pdwfnmzcszbzeagg
    default-encoding: UTF-8 #默认编码格式
    properties:
      mail:
        debug: true #启动debug调试
        smtp:
          socketFactory:
            class: javax.net.ssl.SSLSocketFactory #SSL连接配置
  thymeleaf:
    cache:false



dubbo:
  registry:
    address: zookeeper://localhost:2181
  scan:
    base-packages: com.acm.front
  consumer:
    check: false
    timeout: 50000
    retries: 0

server:
  port: 8005
  servlet:
    context-path: /tms
    encoding:
      charset: utf-8
      enabled: true
      force: true

