spring:
  application:
    name: taskManageSys-regAndLoginWeb
  datasource:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://localhost:3306/finishtasksys?useUnicode=true&useSSL=false&characterEncoding=UTF-8&serverTimezone=GMT%2B8
      username: root
      password: 040927

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher


dubbo:
  registry:
    address: zookeeper://localhost:2181
  scan:
    base-packages: com.acm.front
  consumer:
    check: false
    timeout: 50000
    retries: 0
  protocol:
    name: dubbo
    port: 20882

server:
  port: 8002
  servlet:
    context-path:
    encoding:
      charset: utf-8
      enabled: true
      force: true

