spring:
  application:
    name: taskManageSys-regAndLoginWeb
  datasource:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://localhost:3306/finishtasksys?useUnicode=true&useSSL=false&characterEncoding=UTF-8&serverTimezone=GMT%2B8
      username: root
      password: 040927
  mail:
      host: smtp.163.com
      username: acm1633@163.com
      password: AZSFJYJMHPKKIXWA
      port: 465
      properties:
        from: acm1633@163.com
        mail:
          smtp:
            socketFactory:
              class: javax.net.ssl.SSLSocketFactory
  redis:
       database: 0
       host: localhost
       port: 6379
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher


dubbo:
  registry:
    address: zookeeper://localhost:2181
  scan:
    base-packages: com.acm.front
  consumer:
    check: false
    timeout: 50000
    retries: 0
  protocol:
    name: dubbo
    port: 20882

server:
  port: 8002
  servlet:
    context-path:
    encoding:
      charset: utf-8
      enabled: true
      force: true

