<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acm.dataservice.mapper.TaskItemMapper">
  <resultMap id="BaseResultMap" type="com.acm.api.model.TaskItem">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="judgefinish" jdbcType="DECIMAL" property="judgefinish" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="publisher" jdbcType="VARCHAR" property="publisher" />
    <result column="title" jdbcType="VARCHAR" property="title" />
  </resultMap>
  <sql id="Base_Column_List">
    id, content, judgefinish, name, publisher,title
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from taskitem
    where id = #{id,jdbcType=VARCHAR}
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from taskitem
    where id = #{id,jdbcType=VARCHAR}
  </delete>


  <insert id="insertSelective" parameterType="com.acm.api.model.TaskItem">
    insert into taskitem
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="judgefinish != null">
        judgefinish,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="judgefinish != null">
        #{judgefinish,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.acm.api.model.TaskItem">
    update taskitem
    <set>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="judgefinish != null">
        judgefinish = #{judgefinish,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.acm.api.model.TaskItem">
    update taskitem
    set content = #{content,jdbcType=VARCHAR},
      judgefinish = #{judgefinish,jdbcType=DECIMAL},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>



  <insert id="insert" parameterType="com.acm.api.model.TaskItem">
    insert into taskitem (id, content, judgefinish,
                          name,publisher,title)
    values (#{id,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{judgefinish,jdbcType=DECIMAL},
            #{name,jdbcType=VARCHAR},#{publisher,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR})
  </insert>


  <select id="viewTaskItemFromStu" resultType="com.acm.api.model.TaskItem">
    select
    <include refid="Base_Column_List" />
    from taskitem
    where name = #{name,jdbcType=VARCHAR} and publisher = #{publisher,jdbcType=VARCHAR}
    limit #{offset},#{pagesize}
  </select>

  <select id="viewTaskItemByIdAndName" resultType="com.acm.api.model.TaskItem">
    select
    <include refid="Base_Column_List" />
    from taskitem
    where id = #{id,jdbcType=VARCHAR} and name = #{name,jdbcType=VARCHAR}
  </select>
  <select id="viewTaskItemForCal" resultType="com.acm.api.model.TaskItem">
    select
    <include refid="Base_Column_List" />
    from taskitem
    where publisher = #{publisher,jdbcType=VARCHAR} and name = #{name,jdbcType=VARCHAR}
  </select>


  <update id="editTaskItemById">
    update taskitem
    set content = #{content,jdbcType=VARCHAR},
        judgefinish = #{judgefinish,jdbcType=DECIMAL},
        title = #{title,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR} and name = #{name,jdbcType=VARCHAR}
  </update>

  <update id="giveMark">
    update taskitem
    set judgefinish = #{judgefinish,jdbcType=DECIMAL}
    where id = #{id,jdbcType=VARCHAR} and name = #{name,jdbcType=VARCHAR}
  </update>
  <update id="editAdminTaskItemTitleVal">
    update taskitem
    set title = #{title,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR} and name = #{name,jdbcType=VARCHAR} and publisher = #{publisher,jdbcType=VARCHAR}
  </update>

  <delete id="deleteByIdAndName">
    delete from taskitem
    where id = #{id,jdbcType=VARCHAR} and name = #{name,jdbcType=VARCHAR}
  </delete>

  <select id="calCountOfTaskItem" resultType="java.lang.Integer">
    select count(id) from taskitem
    where name=#{name,jdbcType=VARCHAR} and publisher = #{publisher,jdbcType=VARCHAR}
  </select>

    <select id="viewAllTaskItemFromStu" resultType="com.acm.api.model.TaskItem">
      select <include refid="Base_Column_List" />
      from taskitem
      where publisher = #{publisher,jdbcType=VARCHAR}
        limit #{offset},#{pagesize}
    </select>

  <select id="calCountOfAllTaskItem" resultType="java.lang.Integer">
    select count(id) from taskitem
    where publisher=#{publisher,jdbcType=VARCHAR}
  </select>
  <select id="viewAdminTaskItem" resultType="com.acm.api.model.TaskItem">
    select <include refid="Base_Column_List" />
    from taskitem
    where publisher = #{publisher,jdbcType=VARCHAR}
    limit #{offset},#{pageSize}
  </select>
  <select id="calAdminTaskItem" resultType="java.lang.Integer">
    select count(id) from taskitem
    where publisher = #{publisher,jdbcType=VARCHAR}
  </select>
</mapper>